
.section {
    padding: 0.5em;
    /* Added a subtle shadow and rounded corners for visual appeal */
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s;
}

.section:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.greek {
    font-family: SBL BibLit;
    font-size: 1.5em;
    margin: 0.25em;
    margin-bottom: 0.5em;
    line-height: 130%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #666;
}