.container {
    padding: 1em;
    padding-top: 0em;
}

.header {
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: thin solid lightgray;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.title {
    font-family: SBL BibLit;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#table {
    margin-top: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
}

.one {
    grid-template-columns: repeat(1, 1fr); 
}

.two {
    grid-template-columns: repeat(2, 1fr); 
}

.three {
    grid-template-columns: repeat(3, 1fr); 
}

.four {
    grid-template-columns: repeat(4, 1fr); 
}
